header {
  .navbar-light .navbar-toggler-icon {
    background-image: url(../images/menus.png);
  }
  .navbar-toggler-icon {
    width: 2.1em;
    height: 2.1em;
  }
  .navbar-light .navbar-toggler {
    border: none !important ;
    transition: 0.3s all;
    &:focus {
      box-shadow: none !important;
      transform: scale(1.1);
      transition: 0.3s all;
    }
  }
  .dropdown {
    &-toggle {
      width: 5rem;
      &::after{
        border: none !important;
      }
    }
    &-menu {
      background-color: white;
      right: -30px !important;
      top: 140% !important;
      width: 25rem;
      &::after {
        position: absolute;
        top: -15px;
        right: 40px;
        content: "";
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid white;
      }
    }
    &-item {
      .icon {
        width: 2.3rem !important;
        margin-right: 1rem;
      }
      &:hover {
        background-color: transparent !important;
      }
    }
  }
}